<div class="col-md-8 col-md-offset-2">
  <form name="FornecedorForm">
    <div class="form-group">
      <label for="nome"> Nome
        <strong class="text-danger" ng-show="!entity.nome" style="font-size: 1.2em;">*</strong>
      </label>
      <input id="nome" type="text" ng-model="entity.nome" class="form-control" required/>
    </div>
    <div class="form-group">
      <label for="nome"> Responsável
        <strong class="text-danger" ng-show="!entity.responsavel" style="font-size: 1.2em;">*</strong>
      </label>
      <input id="name" type="text" ng-model="entity.responsavel" class="form-control" required/>
    </div>

    <div class="form-group">
      <label for="endereco">Endereço</label>
      <input id="endereco" type="text" ng-model="entity.endereco" class="form-control" />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="text" ng-model="entity.email" class="form-control" />
    </div>

    <div class="form-group">
      <label for="telefone">Preço
        <strong class="text-danger" ng-show="!entity.telefone">*</strong>
      </label>
      <input id="telefone" type="text" ng-model="entity.telefone" class="form-control" required/>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary pull-right" ng-click="saveOrUpdate(entity)" ng-disabled="FornecedorForm.$invalid">
        {{entity._id ? 'Atualizar' : 'Salvar'}}
        <span class="fa fa-check"></span>
      </button>
      <a class="btn btn-default pull-right" ui-sref="fornecedor.lista" style="margin-right: 1%;">
        Voltar
        <span class="glyphicon glyphicon-th-list"></span>
      </a>
    </div>
    <span class="clearfix"></span>
  </form>
</div>
