<div class="col-md-8 col-md-offset-2">
    <form name="forms" novalidate>
        <div class="row">
            <div class="col-md-12">
                <label for="dataPrazo">Data prazo <strong class="text-danger" ng-hide="dataPrazo"> *</strong></label>
                <input id="dataPrazo" type="date" ng-model="dataPrazo" class="form-control" readonly/>
            </div>

            <div class="col-md-12">
                <label for="tipoOrdem">Solicitação<strong class="text-danger" ng-show="!entity.tipoOrdem">*</strong></label>
                <input id="tipoOrdem" type="text" ng-model="entity.tipoOrdem" class="form-control" readonly/></input>
            </div>
        </div>

        </td>
        <div class="col-md-12" style="margin-top: 20px">
            <table class="table table-bordered">
                <thead>
                <th>Nome</th>
                <th>Quantidade</th>
                </thead>
                <tbody>
                <tr ng-repeat="data in entity.itemProducaoLista track by $index">
                    <td>{{data.produto.name}}</td>
                    <td>
                        {{data.quantidade}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <span class="clearfix"></span>
    </form>
</div>
