<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <a class="btn btn-primary" ui-sref="ordemProducao.novo">Novo <span class="fa fa-plus"></span></a>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <table class="table table-hover">
            <thead>
                <th>Cliente</th>
                <th>tipoOrdem</th>
                <th>Prazo de entrega</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="data in pedidoCompras">
                    <td>{{data.cliente}}</td>
                    <td>{{data.tipoOrdem}}</td>
                    <td>{{data.dataPrazo}}</td>
                    <td>
                        <button class="btn btn-info" ng-click="alterar(data._id)">Alterar <span class="fa fa-edit"></span></button>
                        <button class="btn btn-danger" ng-click="remover(data._id)"><span class="fa fa-remove"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>