<div class="col-md-8 col-md-offset-2">
  <form name="ProdutoForm">
    <div class="form-group">
      <label for="nome"> Nome
        <strong class="text-danger" ng-show="!entity.name" style="font-size: 1.2em;">*</strong>
      </label>
      <input id="name" type="text" ng-model="entity.name" class="form-control" required/>
    </div>
    <div class="form-group">
      <label for="nome"> Código
        <strong class="text-danger" ng-show="!entity.code" style="font-size: 1.2em;">*</strong>
      </label>
      <input id="name" type="number" ng-model="entity.code" class="form-control" required/>
    </div>

    <div class="form-group">
      <label for="description">Descrição</label>
      <input id="description" type="text" ng-model="entity.description" class="form-control" />
    </div>

    <div class="form-group">
      <label for="supplier">Fornecedor</label>
      <input id="produto" name="produto" type="text" ng-model="entity.supplier"
             typeahead="pro as pro.nome for pro in searchFornecedor($viewValue)" class="form-control">
    </div>

    <div class="form-group">
      <label for="type">type
        <strong class="text-danger" ng-show="!entity.type">*</strong>
      </label>
      <select ng-model="entity.type" name="type" class="form-control" id="type" ng-options="opt for opt in opts" required>
      </select>
    </div>

    <div class="form-group">
      <label for="value">Preço
        <strong class="text-danger" ng-show="!entity.value">*</strong>
      </label>
      <input id="value" type="text" ng-model="entity.value" class="form-control" ui-money-mask required/>
    </div>
    <div class="form-group">
      <label for="qntd">Quantidade Minima
        <strong class="text-danger" ng-show="!entity.lowestQuantity">*</strong>
      </label>
      <input id="qntd" type="number" ng-model="entity.lowestQuantity" class="form-control" required/>
    </div>
    <div class="form-group">
      <label for="qntdd">Quantidade atual
      </label>
      <input id="qntd" disabled type="number" ng-model="entity.actualQuantity" class="form-control"/>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary pull-right" ng-click="saveOrUpdate(entity)" ng-disabled="ProdutoForm.$invalid">
        {{entity._id ? 'Atualizar' : 'Salvar'}}
        <span class="fa fa-check"></span>
      </button>

      <a class="btn btn-default pull-right" ui-sref="produto.lista" style="margin-right: 1%;">
        Voltar
        <span class="glyphicon glyphicon-th-list"></span>
      </a>
    </div>
    <span class="clearfix"></span>
  </form>
</div>
