<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <a class="btn btn-primary" ui-sref="produto.novo">Novo <span class="fa fa-plus"></span></a>
        <button class="btn btn-warning" ui-sref="produto.emfalta" ng-if="!in">Produtos em Falta <span class="fa fa-level-down"></span></button>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <table class="table table-">
            <thead>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Valor</th>
                <th>Quantidade Minima</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="data in list">
                    <td>{{data.name}}</td>
                    <td>{{data.type}}</td>
                    <td>{{data.value | currency:'R$'}}</td>
                    <td>{{data.lowestQuantity}}</td>
                    <td>
                      <button class="btn btn-info btn-sm" ng-click="alterar(data)">Alterar <span class="fa fa-edit"></span></button>
                      <button class="btn btn-danger btn-sm" ng-click="remover(data)"><span class="fa fa-remove"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
